.content-container {
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 $m-size;
}

.bg-orange{
    background: $light-orange;
    @media (min-width: $desktop-breakpoint) {
        padding: $m-size;
    }
}

.content-container--bg-white{
    background: white;
    padding: $xs-size;
    @media (min-width: $desktop-breakpoint) {
        padding: $s-size;
    }
}

.content-container--form{
    padding: $l-size $m-size;
}