.list-header {
    background: none;
    border: none;
    color: $grey;
    font-size: $l-size;
    font-weight: 700;
    padding: $l-size $m-size;
}

.list-body {
    margin-bottom: $m-size;
}

.list-body--grid { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.list-item {
    align-items: center;
    border: none;
    border-bottom: 1px solid darken($off-white, 7%);
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    @media (min-width: $desktop-breakpoint) {
        padding: $m-size;
    }
}

.list-item--grid {
    border: none;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: $s-size $l-size;
    > * {
        text-decoration: none;
        color: $dark-grey;
    }
    .list-item__title {
        font-size: $m-size;
    }
}

.list-item--message {
    align-items: center;
    border: none;
    color: grey;
    justify-content: center;
    padding: $m-size;
    text-align: center;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
    }
}

.list-item__date {
    margin: 0;
    word-break: break-all;
}

.list-item__logo {
    img, svg {
        height: 10rem;
        width: 10rem;
        color: $light-orange;
    }
}

.list-product {
    border: 1px solid darken($off-white, 7%);
    border-left: none;
    border-right: none;
}

.list-product__item {
    font-size: $xs-size;
}

.list-item__icon {
    margin: auto 0;
    padding: 0 $m-size 0 0;
    svg {
        height: $l-size;
        width: $l-size;
    }
}

.offBalance {
    background: lighten($yellow, 30%);
}

.sub-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.customer-list-item{
    @extend .list-item
}

.sub-customer-list-item{
    @extend .sub-list-item
}

.customer-list-item__sub-title{
    font-size: $s-size;
    font-weight: 600;

}

.customer-list-item__data{
    font-size: $s-size;
}