// colors
$blue: #1c88bf;
$dark-blue: #364051;
$grey: #666;
$dark-grey: #333333;
$orange: #EA560D;
$light-orange: #EECA87;
$off-white: #f7f7f7;
$yellow: #FFCB2B;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//social button
$base-spacing-unit: 22px;
$half-spacing-unit: 11px;
$border-radius-global: 5px;
$button-width: auto;
$button-height: 48px;
$button-text-color: white;